*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.page,
.page__body {
    width: 100%;
    height: 100%;
    font-family: Lato;
    background-color: #fff;
}


.page__body {
    margin: 0;
}

.list-reset {
    padding: 0;
    margin: 0;
    list-style: none;
}

:root {
    --link-color: #fff;
    --title-color: #1E212C;
    --text-color: #787A80;
    --btn-color: #fff;
    --btn-background: #7772F1;
}

.main {
    min-height: 100%;
}

@font-face {
    font-family: Lato;
    src: url(../../fonts/Lato-Regular.woff),
        url(../../fonts/Lato-Regular.woff2);
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Lato;
    src: url(../../fonts/Lato-Bold.woff),
        url(../../fonts/Lato-Bold.woff2);
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Lato;
    src: url(../../fonts/Lato-Black.woff),
        url(../../fonts/Lato-Black.woff2);
    font-display: swap;
    font-weight: 900;
    font-style: normal;
}

.container {
    max-width: 1345px;
    padding: 0 15px;
    margin: 0 auto;
}

.logo__icon {
    width: 130px;
    height: 22px;
}

.link {
    color: var(--link-color);
    opacity: 0.6;
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;
    text-decoration: none;
    transition: color 0.3s ease 0s;
}

@media (pointer:fine) and (hover: hover) {
    .link:hover {
        opacity: 1;
    }
}

.title {
    margin: 0;
    color: var(--title-color);
    font-size: calc(20px + (46 - 20) * ((100vw - 320px) / (1920 - 320)));
    ;
    font-weight: 900;
    line-height: 130%;
}

@media(min-width:1920px) {
    .title {
        font-size: 46px;
    }
}

.text {
    margin: 0;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}

.btn {
    padding: 0px 40px;
    color: var(--btn-color);
    background-color: var(--btn-background);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.5px;
    transition: background 0.4s ease 0s, transform 0.4s ease 0s;
}

.btn:active {
    transform: scale(0.9);
}

@media (pointer:fine) and (hover: hover) {
    .btn:hover {
        background-color: #7772F1;
    }
}

.icon {
    width: 40px;
    height: 40px;
}

.img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.dis-scroll {
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    overscroll-behavior: none;
}

.header {
    width: 100%;
    position: absolute;
    z-index: 1;
    padding-top: 35px;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__logo {
    position: relative;
    z-index: 100;
    margin-right: 60px;
}

.header__list {
    display: flex;
}

.header__item:not(:last-child) {
    margin-right: 40px;
}

.header__link_center {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav {
    position: fixed;
    left: 0;
    right: 0;
    top: -100%;
    bottom: 100%;
    z-index: 10;
    background-color: #1E212C;
    overflow: auto;
    transition: top 0.3s ease 0s, bottom 0.3s ease 0s;
}

.nav_active {
    top: 0;
    bottom: 40%;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}


.nav__link {
    color: var(--link-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}


.nav__arrow {
    width: 16px;
    height: 16px;
}

@media(min-width:1200px) {
    .nav {
        position: static;
        background-color: transparent;
        overflow: visible;
    }

    .nav__list {
        flex-direction: row;
    }
}

.burger {
    --width: 30px;
    --height: 30px;
    --height-line: 4px;
    --center: calc((var(--height) / 2) - (var(--height-line) / 2));
    --center-: calc((var(--height) / -2) - (var(--height-line) / -2));
    position: relative;
    z-index: 10;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    background: transparent;
    width: var(--width);
    height: var(--height);
    padding: 0;
    cursor: pointer;
}

.burger__line {
    height: var(--height-line);
    width: 100%;
    background-color: #7772F1;
    transition: transform 0.3s ease 0s;
}

.burger_active .burger__line:nth-child(1) {
    transform: translateY(var(--center)) rotate(45deg);
}

.burger_active .burger__line:nth-child(2) {
    transform: scaleX(0);
}

.burger_active .burger__line:nth-child(3) {
    transform: translateY(var(--center-)) rotate(-45deg);
}

@media(min-width:1200px) {
    .burger {
        display: none;
    }
}


.hero {
    padding-bottom: 180px;
}


.hero__bg-box {
    padding-bottom: 85px;
    margin-bottom: 120px;
    background: url(../../img/about-bg.jpg) center / cover no-repeat;
}


.hero__box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}


.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}

.hero__link {
    font-weight: 400;
}

.hero__home-icon {
    width: 16px;
    height: 16px;
}

.hero__arrow {
    width: 16px;
    height: 16px;
    transform: rotate(270deg);
}


.hero__title {
    margin-bottom: 25px;
    color: #fff;
    text-align: center;
}


.hero__text {
    max-width: 810px;
    text-align: center;
}

.hero__list-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}



.hero__item-icon {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
}

.hero__item-line {
    align-self: stretch;
    display: none;
    width: 1px;
    opacity: 0.4;
    background: linear-gradient(270deg, rgba(218, 219, 221, 0.00) 0%, rgba(218, 219, 221, 0.50) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.50) 87.85%, rgba(218, 219, 221, 0.00) 100%);
}



@media(min-width:992px) {
    .hero__item-line {
        display: block;
    }
}

.hero__subtitle {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;
}

.hero__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 120px;
}

.hero__item {
    position: relative;
    display: flex;
    flex-direction: column;
}

.hero__circle {
    width: 140px;
    height: 140px;
    margin-bottom: 20px;
}

.hero__number {
    position: absolute;
    bottom: 50%;
    right: 50%;
    left: 40%;
    color: #1E212C;
    font-size: 32px;
    font-weight: 900;
    line-height: 130%;
}

.hero__number_left {
    left: 30%;
}

.hero__number_left4 {
    left: 27%;
}

.hero__small-subtitle {
    display: block;
    color: #424551;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.hero__img-box {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    min-height: 500px;
    position: relative;
    border-radius: 4px;
    background-color: rgba(30, 33, 44, 1);
}

.hero__img-box::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.4;
    background: url(/img/content.jpg) center / cover no-repeat;
}



.hero__play-icon {
    position: relative;
    z-index: 1;
    width: 80px;
    height: 80px;
    grid-column: 7;
    align-self: end;
    transform: translateY(50%);
}

.hero__mute {
    position: relative;
    z-index: 1;
    width: 40px;
    height: 40px;
    align-self: end;
    grid-column: 1;
    margin-bottom: 30px;
    margin-left: 30px;
}


.values__top-box {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 180px;
}

@media(max-width:575px) {
    .values__top-box {
        flex-direction: column;
    }
}

.values__title {
    max-width: 340px;
}

.values__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}




.values__item {
    max-width: 340px;
    height: auto;
}

.values__icon {
    width: 48px;
    height: 48px;
    margin-bottom: 25px;
}

.values__small-title {
    margin-bottom: 10px;
    font-size: 20px;
}

.values__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.values__work {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.values__black-man {
    align-self: center;
}

.values__img-box {
    align-self: end;
}

.values__img {
    width: 100%;
}

.values__group {
    align-self: end;
}

.values__friends {
    margin-bottom: 20px;
}

.values__box {
    max-width: 805px;
    min-height: 266px;
    padding: 40px 40px;
    border-radius: 4px;
    transform: translateY(-70%);
    background: var(--white, #FFF);
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.values__bottom-title {
    margin-bottom: 25px;
    font-size: 32px;
}

@media(min-width:992px) {
    .values__work {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .values__box {
        padding: 50px 60px;
    }

    .values__top-box {
        flex-direction: row;
    }
}

@media(min-width:576px) {
    .values__list {
        grid-template-columns: 1fr 1fr;
    }
}



.awards {
    padding-bottom: 120px;
}

@media(min-width:1920px) {
    .awards__title {
        font-size: 46px;
    }
}


.awards__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.awards__img {
    max-width: 285px;
    max-height: 488px;
}


.awards__sector {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.awards__package {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

@media(min-width:992px) {
    .awards__package {
        grid-template-columns: 1fr 1fr;
        gap: 70px;
    }

    .awards__content {
        flex-direction: row;
    }
}

.awards__title {
    margin-bottom: 70px;
    align-self: start;
}


.awards__seo-box {
    max-width: 340px;
    display: flex;
    align-items: center;
    gap: 20px;
}


.awards__img-seo {
    width: 75px;
    height: 75px;
}


.awards__subtitle {
    color: #424551;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}


.analysis__container {
    min-height: 243px;
    padding: 50px 0;
    background: url(../../img/analysis-bg.png) center / cover no-repeat;
    background-color: #7772F1;
}

.main__analysis {
    margin-bottom: 120px;
}



.analysis__title {
    margin-bottom: 32px;
    font-size: 32px;
    text-align: center;
    color: #fff;
}


.analysis__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.analysis__label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.analysis__input {
    max-width: 260px;
    padding: 11px 126px 12px 16px;
    border-radius: 4px;
    border: 1px solid #D7DADD;
    background: #F4F5F6;
}


.analysis__input::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.analysis__btn {
    align-self: end;
    padding: 0px 32px;
    gap: 10px;
    border-radius: 4px;
    background: #1E212C;
}

.clients {
    padding-bottom: 180px;
}



.clients__title {
    margin-bottom: 50px;
    text-align: center;
}

.clients__list {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 30px;
}

@media(min-width:576px) {
    .clients__list {
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width:768px) {
    .clients__list {
        grid-template-columns: repeat(6, 1fr);
    }
}


.clients__img {
    max-width: 120px;
}

.team {
    padding-bottom: 180px;
}


.team__title {
    margin-bottom: 60px;
    text-align: center;
}


.team__list {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    gap: 60px;
}


.team__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
}


.team__icon-box {
    position: absolute;
    width: 100%;
    height: 0;
    bottom: -5px;
    transform: translateY(-75px);
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 10px;
    padding-right: 20px;
    padding-bottom: 15px;
    border-radius: 4px;
    opacity: 0;
    background: linear-gradient(180deg, rgba(30, 33, 44, 0.00) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.77) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
    transition: all 0.3s ease 0s;
}

.team__icon {
    width: 20px;
    height: 20px;
    fill: rgba(255, 255, 255, 0.4);
    transition: fill 0.3s ease 0s;
}

.team__link:hover .team__icon {
    fill: #fff;
}

.team__item:hover .team__icon-box {
    height: 100%;
    opacity: 1;
}

.team__img {
    border-radius: 4px;
    margin-bottom: 15px;
}


.team__name {
    margin-bottom: 5px;
    color: #424551;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
}

.team__participation {
    color: #787A80;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}


@media(min-width:768px) {
    .team__list {
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width:992px) {
    .team__list {
        grid-template-columns: repeat(4, 1fr);
    }

    .team__img {
        max-width: 285px;
    }
}

.questions {
    padding-bottom: 165px;
}

.questions__title {
    margin-bottom: 60px;
}

.questions__top-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

@media(min-width:992px) {
    .questions__top-box {
        flex-direction: row;
    }
}

.questions__item {
    margin-bottom: 25px;
}

.questions__small-title {
    display: flex;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    text-align: start;
}


.questions__item-decor {
    position: relative;
    min-width: 15px;
    min-height: 15px;
    margin-top: 5px;
    margin-right: 10px;
}

.questions__item-decor::before {
    content: "";
    position: absolute;
    left: 6.5px;
    top: 0;
    width: 1px;
    height: 15px;
    background-color: #7772F1;
    transition: transform 0.3s ease 0s;
}

.questions__item-decor::after {
    content: "";
    left: 0;
    top: 6.5px;
    position: absolute;
    width: 15px;
    height: 1px;
    background-color: #7772F1;
}


.questions__text {
    max-width: 556px;
    margin-bottom: 25px;
}

.questions__arrow {
    width: 16px;
    height: 16px;
}

.questions__img {
    max-width: 488px;
    max-height: 404px;
}

.questions__btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (pointer:fine) and (hover: hover) {
    .questions__btn:hover .questions__arrow {
        transform: translateX(10px);
    }
}

.questions__arrow {
    fill: #fff;
    transition: transform 0.4s ease 0s;
}

@media(min-width:992px) {
    .questions__box {
        flex-direction: row;
        justify-content: space-between;
    }
}

.accordion__btn_active .questions__item-decor::before {
    transform: rotate(90deg);
}

.agency {
    background-color: #F4F5F6;
}

.agency__container {
    padding: 60px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.main__agency {
    margin-bottom: 120px;
}

@media(min-width:992px) {
    .agency__container {
        flex-direction: row;
        justify-content: space-between;
    }
}


.agency__img {
    max-width: 450px;
}


.agency__content {
    max-width: 600px;
}

.agency__title {
    margin-bottom: 40px;
}


.agency__text {
    margin-bottom: 60px;
}


.agency__btn {
    display: flex;
    align-items: center;
    gap: 5px;
}


.agency__icon {
    width: 24px;
    height: 24px;
    fill: #fff;
}

.news {
    padding-bottom: 180px;
}

.news__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

@media(min-width:992px) {
    .news__container {
        flex-direction: row;
    }
}

.news__title {
    margin-bottom: 40px;
}

.news__text-top {
    max-width: 300px;
    margin-bottom: 60px;
    font-size: 20px;
}



.news__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.news__item {
    flex-grow: 1;
}


.news__img {
    margin-bottom: 15px;
}

@media(min-width:768px) {
    .news__list {
        flex-direction: row;
    }

    .news__img {
        max-width: 390px;
    }
}

.news__info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.news__participation {
    padding-right: 15px;
    margin-right: 10px;
    color: #787A80;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    border-right: 1px solid #787A80;
}

.news__icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    fill: #787A80;
}

.news__date {
    padding-right: 15px;
    margin-right: 10px;
    color: #787A80;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    border-right: 1px solid #787A80;
}

.news__name {
    color: #787A80;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.news__small-title {
    max-width: 390px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}

.news__text {
    max-width: 390px;
    font-size: 16px;
}

.news__btn {
    padding: 0;
    background-color: transparent;
    color: #1E212C;
    display: flex;
    align-items: center;
    gap: 10px;
}



.news__arrow {
    width: 24px;
    height: 24px;
    fill: #7772F1;
    transition: transform 0.3s ease 0s;
}

@media (pointer:fine) and (hover: hover) {

    .news__btn:hover {
        background-color: transparent;
    }

    .news__btn:hover .news__arrow {
        transform: translateX(10px);
    }
}

.footer {
    padding-top: 80px;
    background: #1E212C;
}

.footer__content {
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}


.footer__text {
    max-width: 281px;
    margin-top: 25px;
    opacity: 0.6;
    color: #fff;
}

.footer-small-title {
    margin-bottom: 15px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
}

.footer__item:not(:last-child) {
    margin-bottom: 10px;
}

.footer__icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    fill: #FFFFFF;
}

.footer-last-title {
    margin-bottom: 25px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
}

.footer__input {
    width: 100%;
    padding: 9px 12px;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.12);
}

.footer__arrow {
    position: relative;
    right: -90%;
    bottom: 27px;
    width: 16px;
    height: 16px;
    fill: #fff;
}

.footer__middle-box {
    margin-top: 100px;
    padding-bottom: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    position: relative;
}

.footer__middle-box::after {
    content: "";
    position: absolute;
    top: -40px;
    height: 1px;
    width: 100%;
    opacity: 0.4;
    background: linear-gradient(270deg, rgba(218, 219, 221, 0.00) 0%, rgba(218, 219, 221, 0.50) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.50) 87.85%, rgba(218, 219, 221, 0.00) 100%);
}

.footer__up {
    width: 130px;
    height: 40px;
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 100;
    display: inline-flex;
    align-items: center;
    gap: 16px;
}

.footer__link-top {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    text-wrap: nowrap;
}

.footer__link-top_hide {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.footer__bg {
    background-color: #7772F1;
    padding: 8px;
    border-radius: 4px
}

.footer__go-top {
    width: 24px;
    height: 24px;
}


.footer__img {
    width: 150px;
    height: 50px;
}

.footer__bottom-box {
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.05);
}

.footer__bottom {
    max-width: 1345px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer__heart {
    width: 16px;
    height: 16px;
}

.footer__bottom-text {
    color: #fff;
}

.footer__studio {
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
}

.socials {
    display: flex;
    gap: 20px;
}

.socials__icon {
    width: 24px;
    height: 24px;
    fill: #FFFFFF;
    opacity: 0.5;
    transition: fill 0.3s ease-out 0s;
}

@media (pointer:fine) and (hover: hover) {
    .socials__icon:hover {
        fill: #808080;
    }
}