.footer {
    padding-top: 80px;
    background: #1E212C;
}

.footer__content {
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}


.footer__text {
    max-width: 281px;
    margin-top: 25px;
    opacity: 0.6;
    color: #fff;
}

.footer-small-title {
    margin-bottom: 15px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
}

.footer__item:not(:last-child) {
    margin-bottom: 10px;
}

.footer__icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    fill: #FFFFFF;
}

.footer-last-title {
    margin-bottom: 25px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
}

.footer__input {
    width: 100%;
    padding: 9px 12px;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.12);
}

.footer__arrow {
    position: relative;
    right: -90%;
    bottom: 27px;
    width: 16px;
    height: 16px;
    fill: #fff;
}

.footer__middle-box {
    margin-top: 100px;
    padding-bottom: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    position: relative;
}

.footer__middle-box::after {
    content: "";
    position: absolute;
    top: -40px;
    height: 1px;
    width: 100%;
    opacity: 0.4;
    background: linear-gradient(270deg, rgba(218, 219, 221, 0.00) 0%, rgba(218, 219, 221, 0.50) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.50) 87.85%, rgba(218, 219, 221, 0.00) 100%);
}

.footer__up {
    width: 130px;
    height: 40px;
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 100;
    display: inline-flex;
    align-items: center;
    gap: 16px;
}

.footer__link-top {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    text-wrap: nowrap;
    color: #808080;
    position: relative;
    z-index: 10;
}

.footer__link-top_hide {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.footer__bg {
    background-color: #7772F1;
    padding: 8px;
    border-radius: 4px
}

.footer__go-top {
    width: 24px;
    height: 24px;
}


.footer__img {
    width: 150px;
    height: 50px;
}

.footer__bottom-box {
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.05);
}

.footer__bottom {
    max-width: 1345px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer__heart {
    width: 16px;
    height: 16px;
}

.footer__bottom-text {
    color: #fff;
}

.footer__studio {
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
}

.socials {
    display: flex;
    gap: 20px;
}

.socials__icon {
    width: 24px;
    height: 24px;
    fill: #FFFFFF;
    opacity: 0.5;
    transition: fill 0.3s ease-out 0s;
}

@media (pointer:fine) and (hover: hover) {
    .socials__icon:hover {
        fill: #808080;
    }
}