.header {
    width: 100%;
    position: absolute;
    z-index: 1;
    padding-top: 35px;
}

.header__nav {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__logo {
    position: relative;
    z-index: 100;
    margin-right: 60px;
}

.header__list {
    display: flex;
}

.header__item:not(:last-child) {
    margin-right: 40px;
}

.header__link_center {
    display: flex;
    align-items: center;
    gap: 8px;
}