.services {
    padding-bottom: 85px;
}

.services__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


@media(min-width:992px) {
    .services__content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.services__title {
    text-align: center;
    margin-bottom: 40px;
}

.services__list {
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.services__link {
    padding: 10px 70px;
    color: #9A9CA5;
    transition: outline 0.3s ease 0s;
}


.services__small-title {
    max-width: 390px;
    margin-bottom: 25px;
    font-size: 28px;
    font-weight: 700;
}

.services__item-seo {
    margin-bottom: 15px;
    display: flex;
    align-items: end;
    gap: 15px;
}

.services__item-seo:nth-child(7) {
    margin-bottom: 60px;
}

.services__subtitle {
    color: #424551;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}

.services__seo-icon {
    width: 16px;
    height: 16px;
    fill: #7772F1;
}

.services__btn_transparent {
    border-radius: 4px;
    outline: 1px solid #7772F1;
    background-color: transparent;
    color: #7772F1;
}


@media (pointer:fine) and (hover: hover) {

    .services__link:hover {
        border-radius: 4px;
        outline: 1px solid #7772F1;
    }
}