.main__studies {
    margin-bottom: 100px;
}

.studies {
    padding-top: 60px;
    padding-bottom: 80px;
    background: #F4F5F6;
}

.studies .swiper-wrapper {
    gap: 10px;
}

.studies__top-content {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 60px;
}


.studies__button-box {
    display: flex;
    align-items: center;
    margin-right: 15px;
}


.studies__article {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 390px;
    min-height: 390px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #E5E8ED;
    overflow: hidden;
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
    transition: background-color 0.3s ease 0s;
}


.studies__swiper .swiper-button-next {
    width: 30px;
    height: 30px;
    position: static;
    padding: 0 5px;
    border-radius: 50%;
    transition: background-color 0.3s ease 0s;
}

.studies__swiper .swiper-button-prev {
    width: 30px;
    height: 30px;
    position: static;
    margin-right: 10px;
    padding: 0 5px;
    border-radius: 50%;
    transition: background-color 0.3s ease 0s;
}

.studies__arrow {
    fill: #424551;
    transition: fill 0.3s ease 0s;
}

.studies__arrow_rotate {
    transform: rotate(180deg);
}

.studies__article::before {
    content: "";
    background: url(../../img/tump.png) center / cover no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease 0s;
}



@media (pointer:fine) and (hover: hover) {
    .studies__article:hover {
        background: rgba(30, 33, 44, 0.6);
    }

    .studies__article:hover.studies__article::before {
        border-radius: 4px;
        opacity: 0.5;
    }

    .studies__article:hover .studies__small-title {
        color: #fff;
    }

    .studies__article:hover .studies__text {
        color: #fff;
    }

    .studies__article:hover .studies__number {
        color: #fff;
    }

    .studies__article:hover .studies__subtitle {
        color: #fff;
    }

    .studies .swiper-button-next:hover,
    .studies .swiper-button-prev:hover {
        background-color: #7772F1;
    }

    .studies__arrow:hover {
        fill: #fff;
    }
}



.studies__img {
    max-width: 98px;
    max-height: 76px;
}

.studies__small-title {
    position: relative;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    transition: color 0.3s ease 0s;
}

.studies__small-title::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg, rgba(218, 219, 221, 0.00) 0%, rgba(218, 219, 221, 0.50) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.50) 87.85%, rgba(218, 219, 221, 0.00) 100%);
}

.studies__text {
    max-width: 310px;
    margin-top: 40px;
    margin-bottom: 75px;
}

.studies__box {
    display: flex;
    justify-content: space-around;
}

.studies__mini-box {
    display: flex;
    margin-top: auto;
}

.studies__subtitle-box {
    display: flex;
    flex-direction: column;
}

.studies__number {
    color: #1E212C;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    transition: color 0.3s ease 0s;
}

.studies__subtitle {
    display: block;
    white-space: nowrap;
    color: #1E212C;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
}

.studies__ring {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.studies__bottom-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 65px;
}

@media(min-width:768px) {
    .studies__bottom-box {
        flex-direction: row;
        justify-content: center;
    }

    .studies__article {
        padding: 25px 40px 40px 40px;
    }
}

.studies__small {
    font-size: 28px;
}